<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html><head>
	<META http-equiv="Content-type" content="text/html; charset=Shift_JIS">
	<META http-equiv="Content-Script-Type" content="text/javascript">
	<META http-equiv="Content-Style-Type" content="text/css">
	<link href="/msty.css" rel="stylesheet" type="text/css" />
	<title>Easter HyperPost</title>
</head>

<style type="text/css"><!-- /* for futaba like. */
	.ftdc{ color:#800000; background-color:#eaa080; }
	.ftdc_extra{ color:#808000; background-color:#eae080; }
--></style>

<script type="text/javascript"><!--
var st_Moai_AuthenticKey = "#[Moai_AuthenticKey]#";
var st_func_tbls = [];
#[hint_table]#
//--></script>
<script type="text/javascript" src="/cgis/easter/publicbox/hint.js"></script>
<script type="text/javascript" src="/cgis/easter/publicbox/assort.js"></script>
<script type="text/javascript" src="/cgis/easter/publicbox/preview.js"></script>
	
<body bgcolor="#EEFFEE" text="#808000" link="#0000EE" vlink="#0000EE" alink="#FF0000">

<a name="user-content-index"></a>
<font size=+2><i><b>Easter</b></i></font><br>

<br>
<a class=MstyElemLink  href="/easter" >仮想ブラウジング</a> &nbsp;
<a class=MstyElemLink  href="/easter?est_manager=topic&amp;Moai_AuthenticKey=#[Moai_AuthenticKey]#" >コレクション</a> &nbsp;
<a class=MstyElemLink  href="/easter?est_manager=config&amp;Moai_AuthenticKey=#[Moai_AuthenticKey]#" >設定</a> &nbsp;
<br>

<b>Easter HyperPost <font size=-1>for futaba</font></b><br>
<table class=MstyManagerTable>

<tr><td>
<br>
<font size=-1>
	「#[send_button_name]#」ボタンにより実際に送信されます.
	<a class=MstyQandALink href="javascript:void(0);" onclick="displayQandA( 'Hint', 'aboutHypePost' );"><img src='/cgis/easter/publicbox/icons/question_16.png'></a>
	<div id=aboutHypePost></div>
</font>
</td></tr>

<tr><td>
<form action="http://#[xhr_dmz]#/easter?est_post=#[post_dst]#&amp;Moai_AuthenticKey=#[Moai_AuthenticKey]#" method="POST" enctype="#[post_enctype]#" id="fm">
<input type=hidden name=est_hyper_upload_var value=upfile>

#[input_hiddens]#

<table>
	<tr><td class=ftdc><b>E-mail</b></td><td>  <input class=MstyInputField type=text name=email size="35" value="#[email]#" ><input type=submit class=MstyWideButton value="#[send_button_name]#"></td></tr>
	<tr><td class=ftdc><b>コメント</b></td><td><textarea class=MstyInputField name=com cols=48 rows=4>#[com]#</textarea></td></tr>
	<tr><td class=ftdc><b>削除キー</b></td><td><input class=MstyInputField type=text name=pwd size=9 maxlength=12 value="#[pwd]#"></td></tr>
	
	<tr><td class=ftdc><b>添付File</b></td><td>
		<label for=upfile_label class=MstyElemLink>
			ディスクからファイルを選択
			<input type=file id=upfile_label name=upfile style="display:none;">
		</label>
		[<label><input type=checkbox name=textonly value=on>画像なし</label>]
	</td></tr>
	<tr><td colspan=2>
		<font size=-1>
		<br>
		「添付URL」はURLの指定により画像の添付が行える拡張機能となります.<br>
		例えば以下のような画像を即座に添付したい場合に便利です.<br>
		<div style="padding:0.4em 1em">
		・Google画像検索の結果<br>
		・Easterでコレクションされた画像<br>
		</div>
		この指定は「ディスクからファイルを選択」より優先されます.<br>
		</font>
	</td></tr>
	<tr><td class=ftdc_extra><b>添付URL</b></td><td><input class=MstyInputField type=text name=est_hyper_upload_path placeholder="URL" value="" size=65></td></tr>
</table>
</form>

<table>
	<tr><td class=ftdc_extra><b>イメぐぐる</b></td><td>
		<form method=get action="http://www.google.co.jp/images" target=_blank >
		<input class=MstyInputField type=text name=q size=31 maxlength=255 placeholder="キーワード" value="">
		<input type=hidden name=hl  value="ja">
		<input type=hidden name=lr  value="lang_ja">
		<input type=hidden name=num value="10">
		<br>
		<label for=btnG_label class=MstyElemLink>
			Google画像検索を開く
			<input type=submit id=btnG_label name=btnG style="display:none">
		</label>
		</form>
	</td></tr>
	<tr><td colspan=2><br></td></tr>
</table>

<tr><td colspan=2>
<a class=MstyElemLink href="#" onclick="javascript:window.history.back(-1);return false;">戻る</a>
</td></tr>

</table>

<br>
<b>#[original_url]# のサマリー</b><br>
<table class=MstyManagerTable>
<tr><td colspan=2>
<br>
<font size=-1>
#[summary]#
</font>
<br>
<br>
</td></tr>
</table>

<br><b>仮想環境の確認</b><br>
<table class=MstyManagerTable>

<tr><td><font size=-1>
「#[send_button_name]#」ボタンにより以下の内容が送信されます.<br>
ご確認下さい.<br>
</font></td></tr>

<tr><td>
	<div class=MstyComment style="white-space:normal;">
		<u><b>HTTPヘッダの内容</b></u><br>
		<br>
		#[hdr_vars_str]#
	</div>
</td></tr>

<tr><td>
	<div class=MstyComment style="white-space:normal;">
		<u><b>Post変数群の内容</b></u><br>
		<br>
		#[pst_vars_str]#
	</div>
</td></tr>

<tr><td colspan=2>
<input type=checkbox id=msg_console_cbtn onclick="EjsAssort_switchVisibility('msg_console', '_cbtn', '_body', '_msg')">
<b>Easter System Console </b><br>
<div class=MstyMsgConsole id=msg_console_body style=display:none><b>Easter System Console:</b><br>#[msg]#</div>
<font size=-1 color=#8888ff><div id=msg_console_msg>― 現在非表示です ―</div></font>
</td></tr>

</table>

</body></html>
