<!DOCTYPE html>
<html><head>
	<META http-equiv="Content-type" content="text/html; charset=Shift_JIS">
	<META http-equiv="Content-Script-Type" content="text/javascript">
	<META http-equiv="Content-Style-Type" content="text/css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="/msty.css" rel="stylesheet" type="text/css">
	<link href="/bulma.css" rel="stylesheet" type="text/css" />
	<title>Easter検索</title>
	<script type="text/javascript" src="/cgis/easter/publicbox/progress.js" ></script>
	<script type="text/javascript"> set_dat_path("/cgis/easter/publicbox/state/#[searched_key]#.dat"); </script>
	<script type="text/javascript"> set_result_url("/easter?est_manager=search&command=result&searched_key=#[searched_key]#&Moai_AuthenticKey=#[Moai_AuthenticKey]#"); </script>
</head>

<script type="text/javascript"><!--
var previewing_img_url = "";
var img_url_list = [ #[EstCM_img_url_list]# ];
var st_func_tbls = [];
#[hint_table]#
//--></script>
<script type="text/javascript" src="/cgis/easter/publicbox/hint.js"></script>
<script type="text/javascript" src="/cgis/easter/publicbox/assort.js"></script>
<script type="text/javascript" src="/cgis/easter/publicbox/preview.js"></script>

<body bgcolor="#EEFFEE" text="#808000" link="#0000EE" vlink="#0000EE" alink="#FF0000">
<div class="section" id="section">
<div class="container">
<div class="content">

<a name="user-content-index"></a>
<font size=+2><b>Easter Collection Search</b></font><br>

<br>
<div class=pagination-list>
<a class=MstyElemLink  href="/easter" >仮想ブラウジング</a> &nbsp;
<a class=MstyNowSelectedLink href="/easter?est_manager=topic&amp;Moai_AuthenticKey=#[Moai_AuthenticKey]#" >コレクション</a> &nbsp;
<a class=MstyElemLink  href="/easter?est_manager=config&amp;Moai_AuthenticKey=#[Moai_AuthenticKey]#" >設定</a> &nbsp;
</div>
<br>

<form action="/cgis/easter/easter.cgi?est_manager=search&amp;command=result" method="POST" name="fm_main">

<input type=hidden name=Moai_AuthenticKey value="#[Moai_AuthenticKey]#">
<input type=hidden name=searched_key value="#[searched_key]#">
<button class=MstyDmyUpdateBtn disabled></button> <!-- For disable Enter key on text field -->

<a name="SearchEdit"></a>
<article class="message is-dark">
	<div class="message-header">
		検索の編集
	</div>
	<div class="message-body">
		#[EstSM_edit_ui]#
		<div id=count></div>
	</div>
</article>

<a name="SearchEdit"></a>
<article class="message is-dark">
	<div class="message-header">
		検索結果の表示
	</div>
	<div class="message-body">
		#[EstSM_result]#
	</div>
</article>


</form>

<div class=box>
	<input type=checkbox id=msg_console_cbtn onclick="EjsAssort_switchVisibility('msg_console', '_cbtn', '_body', '_msg')">
	<b>Easter System Console </b><br>
	<div class=MstyMsgConsole id=msg_console_body style=display:none><b>Easter System Console:</b><br>#[msg]#</div>
	<font size=-1 color=#8888ff><div id=msg_console_msg>― 現在非表示です ―</div></font>
</div>


<a class=MstyElemLink href="#user-content-index">一番上へ戻る</a> <a class=MstyElemLink href="/">Moaiトップページ</a>
<br><br>

</div>
</div>
</div>
</body></html>
