<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html><head>
	<META http-equiv="Content-type" content="text/html; charset=Shift_JIS">
	<META http-equiv="Content-Script-Type" content="text/javascript">
	<META http-equiv="Content-Style-Type" content="text/css">
	<link href="/msty.css" rel="stylesheet" type="text/css">
	<title>Easter Report</title>
</head>

<body bgcolor="#EEFFEE" text="#505000" link="#0000EE" vlink="#0000EE" alink="#FF0000">

<font size=+2><i><b>Easter</b></i></font><br>

<br>
<a class=MstyElemLink  href="http://#[xhr_auth_host]#/easter" >Easterトップページ</a> &nbsp;
<a class=MstyElemLink href="http://#[xhr_auth_host]#/">Moaiトップページ</a>
<br>

<a name="CompleteMsg"></a>
<table class=MstyManagerTable>

<tr><td colspan=2>
<br>
#[result_view]#
<br>
<br>
<div id=js_console></div>
</td></tr>

<tr><td colspan=2>
<div class=MstyMsgConsole id=msg_console_body><b>Easter System Console:</b><br>#[msg]#</div>
</td></tr>
</table>

</body></html>
