<!DOCTYPE html>
<html><head>
	<META http-equiv="Content-type" content="text/html; charset=Shift_JIS">
	<META http-equiv="Content-Script-Type" content="text/javascript">
	<META http-equiv="Content-Style-Type" content="text/css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="/msty.css" rel="stylesheet" type="text/css">
	<link href="/bulma.css" rel="stylesheet" type="text/css" />
	<title>Easter Report</title>
</head>

<body bgcolor="#EEFFEE" text="#505000" link="#0000EE" vlink="#0000EE" alink="#FF0000">
<div class="section" id="section">
<div class="container">
<div class="content">

<a name="user-content-index"></a>
<font size=+2><b>Easter</b></font><br>

<br>
<div class=pagination-list>
<a class=MstyElemLink  href="http://#[xhr_auth_host]#/easter" >Easterトップページ</a> &nbsp;
<a class=MstyElemLink href="http://#[xhr_auth_host]#/">Moaiトップページ</a>
</div>
<br>

<a name="CompleteMsg"></a>
<article class="message is-dark">
	<div class="message-header">
		エラー
	</div>
	<div class="message-body">
		#[result_view]#
		<br>
		<br>
		<div id=js_console></div>
	</div>
</article>

<div class=box>
	<input type=checkbox id=msg_console_cbtn onclick="EjsAssort_switchVisibility('msg_console', '_cbtn', '_body', '_msg')">
	<b>Easter System Console </b><br>
	<div class=MstyMsgConsole id=msg_console_body style=display:none>#[msg]#</div>
	<font size=-1 color=#8888ff><div id=msg_console_msg>― 現在非表示です ―</div></font>
</div>


</div>
</div>
</div>
</body></html>
