<!DOCTYPE html>
<html><head>
	<META http-equiv="Content-type" content="text/html; charset=Shift_JIS">
	<META http-equiv="Content-Script-Type" content="text/javascript">
	<META http-equiv="Content-Style-Type" content="text/css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="/msty.css" rel="stylesheet" type="text/css">
	<link href="/bulma.css" rel="stylesheet" type="text/css">
	<title>VirtualUSERS</title>
	<script type="text/javascript" src="/cgis/custom_boy/publicbox/fp.js?Moai_AuthenticKey=#[Moai_AuthenticKey]#"></script>
	<script type="text/javascript" src="/cgis/custom_boy/publicbox/custom_boy.js?Moai_AuthenticKey=#[Moai_AuthenticKey]#"></script>
	
</head>
<!-- body bgcolor="#EEFFFF" text="#008000" link="#0000EE" vlink="#0000EE" alink="#FF0000" -->
<body>
<div class="section">
<div class="container">

<a name="user-content-index"></a>
<font size=+2><b>VirtualUSERS</b></font><br>

<br>
#[SelectBar_ui]#
<br>
<a class=MstyElemLink href="/easter">Easter</a>
<br>

<a name="VirtualUSERS"></a>

<form action="/cgis/custom_boy/custom_boy.cgi?cb_target=#[cb_target]#&amp;cb_type=automatic" method="POST" name=fm_main>
<input type=hidden name=Moai_AuthenticKey value="#[Moai_AuthenticKey]#">
<button class="MstyDmyUpdateBtn" disabled></button> <!-- For disable Enter key on text field -->

<br>
<article class="message is-dark">
	<div class="message-header">
		基本手順
	</div>
	<div class="message-body">
		詳細については<a href="/moai2.0/virtual_users.html" target=_blank>こちら</a>を参照してください.
		<hr>
		<div class=columns>
			<div class="column is-2" >
				<button class=button type='submit' name='cb_arg' value='main_all'>VirtualUSERS</button>
			</div>
			<div class="column is-10">
				すべておまかせボタンです. 通常はこれを押すだけOK. 
			</div>
		</div>
		<hr>
		<div class=columns>
			<div class="column is-2" >
				#[Category_ui]#
			</div>
			<div class="column is-10">
				仮想環境構築の際のマシン、OS、ブラウザなどの種類を明示的に選択できます.
			</div>
		</div>
		<hr>
		<div class=columns>
			<div class="column is-full" >
				<input type=checkbox class=checkbox id=cb_all_clear_cookie name=cb_all_clear_cookie size="10">全Cookieを強制消去してVirtualUSERSする
			</div>
		</div>
	</div>
</article>

</form>

<article class="message is-dark">
	<div class="message-header">
		UA/POST変数の仮想環境
	</div>
	<div class="message-body">
		<font size=-1>#[cb_status]#</font>
		<div class="table-container">
			<table class="table is-striped">
				<tr><td><b>UserAgent</b></td><td><font size=-1>#[user_agent]#</font></td></tr>
				#[PostVars_ui]#
			</table>
		</div>
	</div>
</article>

<article class="message is-dark">
	<div class="message-header">
		Cookieの仮想環境
	</div>
	<div class="message-body">
		<div class="table-container">
			<table class="table is-striped">
				#[CustomCookie_ui]#
			</table>
		</div>
		<a class=MstyElemLink href="/cgis/custom_boy/custom_boy.cgi?cb_target=futaba&amp;cb_type=cookie" >Cookieの値を直接修正する</a>
	</div>
</article>

<font color="#558855"><pre>#[msg]#</pre></font>

<a class=MstyElemLink href="#user-content-index">一番上へ戻る</a> <a class=MstyElemLink href="/">Moaiトップページ</a>
<br><br>

</div>
</div>
</body></html>
