<!DOCTYPE html>
<html><head>
	<META http-equiv="Content-type" content="text/html; charset=Shift_JIS">
	<META http-equiv="Content-Script-Type" content="text/javascript">
	<META http-equiv="Content-Style-Type" content="text/css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="/msty.css" rel="stylesheet" type="text/css">
	<link href="/bulma.css" rel="stylesheet" type="text/css">
	<title>CustomBoy</title>
	<script type="text/javascript" src="/cgis/custom_boy/publicbox/fp.js?Moai_AuthenticKey=#[Moai_AuthenticKey]#"></script>
	<script type="text/javascript" src="/cgis/custom_boy/publicbox/custom_boy.js?Moai_AuthenticKey=#[Moai_AuthenticKey]#"></script>
	
</head>
<!-- body bgcolor="#EEFFFF" text="#008000" link="#0000EE" vlink="#0000EE" alink="#FF0000" -->
<body>
<div class="section">
<div class="container">

<a name="user-content-index"></a>
<font size=+2><b>CustomBoy</b></font><br>

<br>
#[SelectBar_ui]#
<br>
<a class=MstyElemLink href="/cgis/custom_boy/custom_boy.cgi?cb_target=futaba&cb_type=automatic">VirtualUSERS</a>&nbsp; 
<a class=MstyElemLink href="/easter">Easter</a>

<a name="CustomCookie"></a>

<form action="/cgis/custom_boy/custom_boy.cgi?cb_target=#[cb_target]#&amp;cb_type=cookie#CustomCookie" method="POST" id="fm_main">
<input type=hidden name=Moai_AuthenticKey value="#[Moai_AuthenticKey]#">
<button class="MstyDmyUpdateBtn" disabled></button> <!-- For disable Enter key on text field -->
<br>

<!--
<div class="table-container">
	<article class="message is-dark">
		<div class="message-header">
			UA/POST変数の仮想環境
		</div>
		<div class="message-body">
			<font size=-1>#[cb_status]#</font>
			<table class="table is-striped">
				<tr><td><b>UserAgent</b></td><td><font size=-1>#[user_agent]#</font></td></tr>
				#[PostVars_ui]#
			</table>
		</div>
	</article>
</div>
-->

<div class="table-container">
	<article class="message is-dark">
		<div class="message-header">
			Cookieの仮想環境
		</div>
		<div class="message-body">
			ここでは現在のクッキーフィルタの内容を動的に取得して表示しています.
			また必要ならこれらの値を修正して強制的に書き換えることもできます.
			掲示板の仕様変更等により未知のCookie値が新たに導入された場合など、手動でこれに対応できます.
			詳細については<a href="/moai2.0/customboy_reference.html#CustomCookie" target=_blank>こちら</a>を参照してください.
			<br> <br>
			<table class="table is-striped">
				#[CustomCookie_ui]#
			</table>
			<button class=MstyWideButton type='submit' name='cb_arg' value='save_cookie'>上記で強制書き換え</button> 
			<input type=checkbox id=cb_erase_empty name=cb_erase_empty size="10">空値のものは項目自体を消去
		</div>
	</article>
</div>

<font color="#558855"><pre>#[msg]#</pre></font>

</form>

<a class=MstyElemLink href="#user-content-index">一番上へ戻る</a> <a class=MstyElemLink href="/">Moaiトップページ</a>
<br><br>

</div>
</div>
</body></html>
