<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html><head>
	<META http-equiv="Content-type" content="text/html; charset=Shift_JIS">
	<META http-equiv="Content-Script-Type" content="text/javascript">
	<META http-equiv="Content-Style-Type" content="text/css">
	<link href="/msty.css" rel="stylesheet" type="text/css">
	<title>CustomBoy</title>
	<script type="text/javascript" src="/cgis/custom_boy/publicbox/fp.js?Moai_AuthenticKey=#[Moai_AuthenticKey]#"></script>
	<script type="text/javascript" src="/cgis/custom_boy/publicbox/custom_boy.js?Moai_AuthenticKey=#[Moai_AuthenticKey]#"></script>
	
</head>
<body bgcolor="#EEFFFF" text="#008000" link="#0000EE" vlink="#0000EE" alink="#FF0000">

<a name="user-content-index"></a>
<font size=+2><i><b>CustomBoy</b></i></font> <!-- b>(negociating target : #[cb_target]#)</b --><br>

<br>
#[SelectBar_ui]#
<br>

<a name="CustomCookie"></a>
<br><b>CustomCookie</b><br>

<form action="/cgis/custom_boy/custom_boy.cgi?cb_target=#[cb_target]#&amp;cb_type=cookie#CustomCookie" method="POST" id="fm_main">
<input type=hidden name=Moai_AuthenticKey value="#[Moai_AuthenticKey]#">
<button class="MstyDmyUpdateBtn" disabled></button> <!-- For disable Enter key on text field -->

<table class=MstyManagerTable>

<tr><td colspan=2>
<font size=-1>
<br><b><u>概要</u></b><br> <br>
ここでは現在のクッキーフィルタの内容を動的に取得して表示しています.<br>
また必要ならこれらの値を修正して強制的に書き換えることもできます.<br>
この強制的な書き換えは通常必要ありませんが、掲示板の仕様変更等により<br>
未知のCookie値が新たに導入された場合などに、手動でこれに対応できます.<br>
</font>
<br>
</td></tr>

<tr><td colspan=2><fieldset class=MstyStdFieldSet><legend>UA/POST変数の仮想環境</legend>
<table>
<tr><td colspan=2>
<font size=-1>#[cb_status]#</font>
</td></tr>
<tr class=MstyItemOdd><td class=MstyNoneWordBreak><b>UserAgent</b></td><td><table><tr><td><font size=-1>#[user_agent]#</font></td></tr></table></td></tr>
#[PostVars_ui]#
</table>
</fieldset></td></tr>

<tr><td colspan=2><fieldset class=MstyStdFieldSet><legend>Cookieの仮想環境</legend>
<table>
#[CustomCookie_ui]#
</table>
</fieldset></td></tr>

<tr><td colspan=2>
	<button class=MstyWideButton type='submit' name='cb_arg' value='save_cookie'>上記で強制書き換え</button> 
	<input type=checkbox id=cb_erase_empty name=cb_erase_empty size="10">空値のものは項目自体を消去
</td></tr>
</table>
</form>

<a class=MstyElemLink href="#user-content-index">一番上へ戻る</a> <a class=MstyElemLink href="/">Moaiトップページ</a>
<br><br>

</body></html>
